[Unit]
Description = node exporter Service

[Service]

ExecStart=/opt/node_exporter-{{Node_exporter_version}}.linux-amd64
SyslogIdentifier=node_exporter

[Install]
WantedBy=multi-user.target