[Unit]
Description = node exporter Service

[Service]

ExecStart=/opt/node_exporter-{{Node_exporter_version}}.linux-amd64/node_exporter
SyslogIdentifier=node-exporter

[Install]
WantedBy=multi-user.target